.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border: 5px solid #323115;
    font-size: 34px;
    height: 94px;
    width: 412px;
    border-radius: 30px;
    background-color: #ecf9f9;
}

button{
    border-radius: 20px;
    border: 2px solid #000000;
    font-size: 35px;
    background: #daf3f1;
    padding: 15px 20px;
    width: 95px;
    height: 90px;
    margin: 6px;
}

.calculator{ 
    background-color: #3aafa9;
    border-width: 1px;
    padding: 17px;
    border-radius: 30px;
    border: 7px solid #000000;
    display: inline-block;
    height: 615px;
}
    
h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

i{
    opacity: 0.5;
}